In [10]:
import sqlite3
import json
import pandas as pd

In [2]:
print(sqlite3.sqlite_version)

3.38.2

In [13]:
json_file = "db_solv_pred_v2.json"

In [15]:
data_df = pd.read_json(json_file)
data_df.head()

,No.,CAS,Name,D,P,H,Mole_vol,bp,mw,viscosity,vis_temp,heat_of_vap,hov_temp,SMILES,synonyms,ims_idx,alias,Note
0,1,75-07-0,Acetaldehyde,14.7,12.5,7.9,56.6,20.8,44.05,0.210,20.0,25.73,20.20,O=CC,acetic aldehyde;ethyl aldehyde,NaN,NaN,NaN
1,2,64-19-7,Acetic acid,14.5,8.0,13.5,57.1,117.0,60.05,1.056,25.0,23.70,117.90,CC(=O)O,ethanoic acid;Ethylic acid;Vinegar acid,139;190;39,NaN,NaN
2,3,108-24-7,Acetic anhydride,16.0,11.7,10.2,94.5,139.0,102.09,0.843,25.0,38.20,139.50,CC(=O)OC(=O)C,Acetyl acetate;Acetanhydride;Ethanoic anhydride,40,NaN,NaN
3,4,67-64-1,Acetone,15.5,10.4,7.0,74.0,56.2,58.08,0.320,20.0,29.10,56.05,CC(=O)C,2-propanone,NaN,NaN,NaN
4,5,75-05-8,Acetonitrile,15.3,18.0,6.1,52.6,81.6,41.05,0.350,20.0,29.81,80.00,CC#N,Methyl cyanide;Cyanomethane,139;47;136;240;190,ACN,NaN

In [63]:
new_df = data_df.rename(columns = {"No.":"id"})

In [59]:
conn = sqlite3.connect("solv_pred_v2.db") #db is a standard extension for sqlite file

In [64]:
new_df.reset_index().to_sql("solv_pred_v2", conn, if_exists = "replace")

249

In [67]:
conn = sqlite3.connect("solv_pred_v2.db")
# sq = 'SELECT * FROM {t} WHERE {c1} IN {vals} GROUP BY {c2}'\
# .format(t='my_table',c1='Column1',c2='"Prob-Column"',vals = vals)
sq_str = "SELECT {c} FROM {t}".format(c = "id, SMILES", t = "solv_pred_v2")
pd.read_sql(sq_str, conn)

      id           SMILES
0      1             O=CC
1      2          CC(=O)O
2      3  CC(=O)OC(=O)C
3      4          CC(=O)C
4      5             CC#N
..   ...              ...
244  245    CC1=CC=CC=C1C
245  246        CC(C)(C)O
246  247       CN1C=CN=C1
247  248      CC(C)OC(C)C
248  249       CC(C)(C)OC

[249 rows x 2 columns]